PORT=""
NODE_ENV=""
JWT_SECRET=""
DATABASE_URL=""

# Config DB
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
TZ=""

# Config Email
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
EMAIL_FROM=""

# Config Wsp
WSP_API_URL=""
WSP_API_KEY=""
WSP_SESSION_ID=""